* {
    Margin:0;
    padding:0;
}


body{
    font-weight: normal; font-style: normal; font-family:sans-serif;
    background-image: url(..\assets\MountainsBackground.jpg);
}

nav {
	position: relative;
	bottom: 70px;
	left: 150px;
}

.navYfooter {
	background-color: #5B585Fff;
    padding: 24px;
}

ul {
    list-style-type: none;
    font-size: 25px;
   }

li{
    list-style: none;
}

ul li a {
    text-decoration: none;
    color:beige;
    margin: 12px;
}

nav ul li a:hover {
    color: green;
    background-color: bluee;
}

h2{
    text-align: center;
}

section {
    padding: 50px 30px 20px 60px;
    background-image: url(./assets/MountainsBackground.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;

}
    
section article {
    background-color: #cccccc;
    width: 500px;
    height: 500px;
    margin: 2px;
    border-style:dashed;
    position: sticky;
}

section article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    
section article p {
    font-family: 'Edu VIC WA NT Beginner';
    border: solid 1px white;
    padding: 5px;
    display: inline-block;
    font-size: 32px;
     /* propiedades que hacen el "problema" */
    width: 370px;
    height: 92px;
    /* solucion */
    overflow: hidden;
}

.Footer__socialMedia{
    size: 20px;
}    

.footer__linkContacto{
    text-decoration: none
}
